{% extends 'habdb/base.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
	<div class="db-container">
	  <div class="db-wrapper center">
	  	<h1 class="class grey-yext">HABS Dashboard</h1>
		<p>This page contains the dashboard application</p>
		<hr>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Id volutpat lacus laoreet non curabitur gravida arcu. Velit ut tortor pretium viverra suspendisse. Suspendisse faucibus interdum posuere lorem ipsum. Vel risus commodo viverra maecenas accumsan lacus. Facilisis magna etiam tempor orci eu. Habitasse platea dictumst quisque sagittis. Pellentesque massa placerat duis ultricies lacus. Sit amet volutpat consequat mauris nunc. Id donec ultrices tincidunt arcu. Velit dignissim sodales ut eu sem integer vitae justo. Ut placerat orci nulla pellentesque dignissim enim. Enim nulla aliquet porttitor lacus luctus accumsan tortor. Cursus mattis molestie a iaculis at erat. Diam vulputate ut pharetra sit amet aliquam id diam. A erat nam at lectus urna duis convallis convallis tellus. Ut consequat semper viverra nam libero. Sed tempus urna et pharetra pharetra. Mi quis hendrerit dolor magna.
		</p>

	  </div>
	</div>
{% endblock %}