body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* a:hover, a:active {
  text-decoration: none;
} */

.nodecorate:hover, .nodecorate:active {
	text-decoration: none;
}

.leaflet-container {
	height: 700px;
	width: 100%;
	margin: 0 auto;
}
      
.ReactModal__Overlay {
	z-index: 1000;
}